<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @doctor.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @doctor.state %>
</p>

<p>
  <strong>Codigo Postal:</strong>
  <%= @doctor.zip %>
</p>

<p>
  <strong>Certificado por:</strong>
  <%= @doctor.certified_by %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @doctor.experience %>
</p>

<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Atras', doctors_path %>
